<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <appSettings>
    <add key="BridgeListenPort" value="19001" />
    <add key="HttpPrefix" value="http://+:19002/" />
    <add key="SharedSecret" value="CHANGE-THIS-BRIDGE-SHARED-SECRET" />
    <add key="ApiKey" value="CHANGE-THIS-OPERATOR-API-KEY" />
    <add key="DefaultLeaseSeconds" value="300" />
  </appSettings>
</configuration>

